<ion-header>
  <ion-toolbar>
    <ion-title>{{naslov}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <form #f="ngForm" (ngSubmit)="onAddDestination()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>

            <ion-input type="text" [ngModel]="naziv" name="naziv" required placeholder="Naziv destinacije"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>

            <ion-textarea type="text" rows="6" [ngModel]="opis" name="opis" required placeholder="Opis destinacije"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>

            <ion-textarea type="text" [ngModel]="imageUrl" name="imageUrl" required placeholder="URL slike destinacije"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>

            <ion-textarea type="text" [ngModel]="tip" name="tip" required placeholder="Tip destinacije"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" expand="block" [disabled]="f.invalid">
            {{naslov}}
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
